---
import Icon from './Icon.astro';
import { ui } from '../i18n/ui';
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = ui[lang].mindset;

const icons = ['sparkle', 'bolt', 'target'];
const colors = ['violet', 'orange', 'blue'];
const roles = t.roles.map((label, i) => [icons[i], colors[i], label]);
---

<section class="mindset" id="about">
  <div>
    <h2>{t.title}</h2>
    <p>{t.text}</p>
  </div>
  <div class="mindset-grid">
    {roles.map(([icon, color, label]) => (
      <div class="mindset-pill"><span class:list={['mini-icon', color]}><Icon name={icon} class="" /></span>{label}</div>
    ))}
  </div>
</section>
