---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Hero from '../../components/Hero.astro';
import IntroSection from '../../components/IntroSection.astro';
import StackSection from '../../components/StackSection.astro';
import ProcessSection from '../../components/ProcessSection.astro';
import BuildsSection from '../../components/BuildsSection.astro';
import MindsetSection from '../../components/MindsetSection.astro';
import CtaBand from '../../components/CtaBand.astro';
import Footer from '../../components/Footer.astro';
---

<Layout>
  <Header />
  <main class="page">
    <Hero />
    <IntroSection />
    <StackSection />
    <ProcessSection />
    <BuildsSection />
    <MindsetSection />
    <CtaBand />
  </main>
  <Footer />
</Layout>
